@import url(https://fonts.googleapis.com/css?family=Cairo:200,300,regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
:root {
  --secondary-color: #26252e;
  --secondary-color-shadow: rgba(0, 0, 0, 0.25);
  --pattern-primary-color: #fdfdfd;
  --primary-font-color: #fdfdfd;
  --secondary-font-color: #26252e;
  --secondary-font-color-light: #7c7b80;
  --meta-logo-color: #4aa4f7;
}

.dark-theme-variables {
  --pattern-primary-color: #26252e;
  --secondary-color-shadow: rgba(0, 0, 0, 0.25);
  --secondary-color: #8f9af9;
  --primary-font-color: #26252e;
  --secondary-font-color: #fdfdfd;
  --secondary-font-color-light: #8a8a8f;
  --meta-logo-color: #cbcbcb;
}

*:not(.myContainer) {
  margin: 0px;
  margin-top: 0px;
  box-sizing: border-box;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

*:not(.Home .myContainer h1, .Home .myContainer p) {
  transition-duration: 0.2s !important;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--pattern-primary-color);
  font-family: work sans;
}
body button {
  font-family: work sans;
}
body button.btn {
  color: var(--primary-font-color);
  background-color: var(--secondary-color);
}
body button.btn:hover {
  color: var(--primary-font-color);
  background-color: var(--secondary-color);
}

.myContainer {
  margin: 0px 20px;
  margin-top: 100px;
  margin-bottom: 100px;
}
.myContainer .Section {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 20px;
}
.myContainer .Section p {
  width: 55%;
}
@media (max-width: 750px) {
  .myContainer .Section p {
    width: auto;
  }
}
.myContainer .Section h2 {
  position: relative;
}
.myContainer .Section h2::after {
  content: "";
  width: 25px;
  bottom: -10px;
  left: 50%;
  height: 5px;
  border-radius: 100px;
  position: absolute;
  background-color: var(--secondary-color);
  transform: translateX(-50%);
}

.Navbar {
  z-index: 1;
  position: fixed;
  background-color: var(--pattern-primary-color);
  width: 100%;
  padding: 10px 0px;
  box-shadow: 0px -75px 90px 0px var(--secondary-color);
}
.Navbar svg.svg-inline--fa.fa-bars {
  cursor: pointer;
  display: none;
  color: var(--secondary-color);
  font-size: 25px;
}
.Navbar .mod-toggler {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.Navbar .myContainer {
  margin-bottom: 0px;
  margin-top: 0px;
}
.Navbar .myContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Navbar .myContainer > * {
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.Navbar .myContainer .profile {
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
}
.Navbar .myContainer .profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
@media (max-width: 750px) {
  .Navbar .myContainer .profile img {
    width: 30px;
    height: 30px;
  }
}
.Navbar .myContainer ul {
  font-weight: 600;
}
@media (max-width: 1000px) {
  .Navbar .myContainer ul.showList {
    display: flex !important;
    flex-direction: column;
    position: absolute;
    background-color: var(--primary-font-color);
    right: 0px;
    height: 100vh;
    padding: 10px 25vw 0px 20px;
    align-items: flex-start;
  }
}
.Navbar .myContainer ul li {
  list-style: none;
}
.Navbar .myContainer ul li a {
  text-decoration: none;
  color: var(--secondary-font-color);
}
@media (max-width: 550px) {
  .Navbar .myContainer .name {
    display: none;
  }
}
.Navbar .checkbox {
  opacity: 0;
  position: absolute;
}
.Navbar .checkbox-label {
  background-color: #111;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Navbar .fa-moon {
  color: #f1c40f;
}
.Navbar .fa-sun {
  color: #f39c12;
}
.Navbar .checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}
.Navbar .checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}

.Home {
  position: relative;
  padding-top: 70px;
  display: flex;
  justify-content: center;
  height: 500px;
  background-color: var(--pattern-primary-color);
  opacity: 1;
  background-image: radial-gradient(var(--secondary-color) 2px, transparent 2px), radial-gradient(var(--secondary-color) 2.5px, var(--pattern-primary-color) 2px);
  background-size: 80px 80px;
  animation: background-image 20s infinite alternate-reverse forwards ease-in-out;
}
@-webkit-keyframes background-image {
  0% {
    background-position: 10 10, 40px 45px;
  }
  50% {
    background-position: 0 80px, 120px 45px;
  }
  50% {
    background-position: 0 80px, -40px -45px;
  }
}
@keyframes background-image {
  0% {
    background-position: 10 10, 40px 45px;
  }
  50% {
    background-position: 0 80px, 120px 45px;
  }
  50% {
    background-position: 0 80px, -40px -45px;
  }
}
.Home .myContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 10px;
  border-radius: 115px;
}
.Home .myContainer p,
.Home .myContainer h1,
.Home .myContainer h2 {
  background-color: var(--pattern-primary-color);
  padding: 20px;
}
.Home .myContainer button {
  width: 210px;
}
.Home .myContainer button a {
  color: var(--pattern-primary-color);
}

.Project {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
@media (min-width: 750px) {
  .Project > * {
    width: 50%;
  }
}
.Project .img-container {
  background-color: var(--secondary-color);
  height: 250px;
}
.Project .description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  gap: 25px;
  padding: 0px 50px;
  padding-right: 50px;
}
.Project .description button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.Project .description h3::first-letter {
  text-transform: uppercase;
}
@media (max-width: 750px) {
  .Project .description {
    width: 100%;
    align-items: center;
    gap: 7px;
  }
}
@media (max-width: 750px) {
  .Project {
    text-align: center;
    flex-direction: column;
  }
  .Project .img-container {
    border-radius: 0px;
    width: 95%;
  }
  .Project:nth-of-type(odd) {
    flex-direction: column;
  }
  .Project:nth-of-type(odd) .img-container {
    border-radius: 0px;
  }
  .Project:nth-of-type(odd) .description {
    padding-left: 50px;
  }
}

.About .myContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media (max-width: 1000px) {
  .About .myContainer {
    margin-bottom: 0px;
  }
}
.About .myContainer .qualifiers {
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 750px) {
  .About .myContainer .qualifiers {
    flex-wrap: wrap;
    gap: 20px;
  }
  .About .myContainer .qualifiers > div {
    width: auto;
    display: flex;
    align-items: center;
    text-align: center;
  }
  .About .myContainer .qualifiers > div ul {
    justify-content: center;
    gap: 5px;
  }
}
.About .myContainer .qualifiers > div {
  width: 30%;
  gap: dis;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
@media (max-width: 750px) {
  .About .myContainer .qualifiers > div {
    width: auto;
  }
}
.About .myContainer .qualifiers > div.my-skills ul {
  width: 60%;
}
.About .myContainer .qualifiers > div.my-certifications ul li {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 0px;
  padding-left: 5px;
}
.About .myContainer .qualifiers > div.my-certifications ul li svg {
  overflow: visible;
  background-color: var(--meta-logo-color);
  color: var(--primary-font-color);
  font-size: 25px;
  border-radius: 0px 5px 5px 0px;
  padding: 5px;
}
.About .myContainer .qualifiers ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  padding-left: 0px;
}
.About .myContainer .qualifiers ul li {
  list-style: none;
  background-color: var(--secondary-color);
  color: var(--primary-font-color);
  border-radius: 5px;
  padding: 5px 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.Contact {
  display: flex;
}
.Contact .myContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
  margin-top: 0px;
  align-items: center;
}
.Contact .Form {
  text-align: start;
  background-color: var(--pattern-primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Contact .Form h2 {
  text-align: center;
}
.Contact .Form > div {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.Contact p,
.Contact h1,
.Contact h2 {
  background-color: var(--pattern-primary-color);
  padding: 20px;
}
.Contact textarea:focus,
.Contact input:focus {
  box-shadow: 0 0 0 0.25rem var(--secondary-color-shadow);
  border-color: var(--secondary-color);
}

.Footer {
  background-color: var(--secondary-color);
  padding-top: 20px;
  height: 200px;
  font-size: 20px;
}
.Footer .myContainer {
  background-color: var(--secondary-color);
  color: var(--primary-font-color);
  margin-bottom: 0px;
  margin-top: 0px;
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}
@media (max-width: 750px) {
  .Footer .myContainer {
    gap: 15px;
    flex-direction: column;
    text-align: center;
  }
  .Footer .myContainer .info,
.Footer .myContainer .socail {
    gap: 10px !important;
  }
  .Footer .myContainer .name {
    font-size: 20px !important;
  }
  .Footer .myContainer p {
    font-size: 16px !important;
  }
}
.Footer .myContainer .info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
.Footer .myContainer .info .name {
  font-size: 25px;
  font-weight: 500;
}
.Footer .myContainer .socail {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
.Footer .myContainer .socail p {
  color: var(--primary-font-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
a {
  color: var(--secondary-font-color);
}

@media (max-width: 1000px) {
  .Navbar ul {
    display: none !important;
  }
  .Navbar svg.svg-inline--fa.fa-bars {
    display: block;
  }
}
@-webkit-keyframes social-items {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(2px);
  }
}
@keyframes social-items {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(2px);
  }
}
ul.socail-list {
  display: flex;
  gap: 30px;
  padding-left: 0px;
}
ul.socail-list.firstOne {
  background-color: var(--pattern-primary-color);
  position: absolute;
  top: calc(100% + 20px);
  gap: 40px;
}
ul.socail-list.firstOne li {
  transition-duration: 0.1s !important;
  -webkit-animation: social-items 1s ease-in-out infinite;
          animation: social-items 1s ease-in-out infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  font-size: 30px;
}
ul.socail-list.firstOne li:nth-of-type(2) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}
ul.socail-list.firstOne li:nth-of-type(3) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
ul.socail-list.firstOne li:nth-of-type(4) {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}
ul.socail-list.firstOne li a {
  color: var(--secondary-color);
}
ul.socail-list li {
  list-style: none;
}
ul.socail-list li a {
  color: var(--pattern-primary-color);
}

p {
  color: var(--secondary-font-color-light);
}/*# sourceMappingURL=style.css.map */